.carousel-indicators{
    justify-content: start !important;
}
.carousel-indicators [data-bs-target] {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}
.carousel-indicators .active {
    background-color: #FC0254;
}